{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href="{% static 'workshop/bootstrap.min.css' %}" rel="stylesheet">
<html lang="en">

<div class="text-center mb-5" style="padding-bottom: 20px;">
    <h1>Welcome to our page!</h1>
    <p>All workshops available are listed below</p>
    <a href="{% url 'admin:index' %}" text-decoration: none;>Are you an admin? Go to the admin site!</a>
</div>

<div class="text-center mb-2">
    <form action="" method="GET">
        <div class="text-center mb-2">
            <input type="search" name="search" placeholder="Search" size="40">
            <button type="submit">Submit<i class="fas fa-search"></i></button>
            <a href="{% url 'workshop:create_workshop' %}" class="btn btn-secondary btn-lg" role="button" >Create</a>
        </div>
    </form>
    
</div>

<div class="workshops">
    <table class="table table-borderless mx-auto" style="width: 30%;">
        <thead>
            <th scope="col">Workshop</th>
            <th scope="col">Date</th>
            <th scope="col">Edit Workshop</th>
            <th scope="col">Delete Workshop</th>
        </thead>
        <tbody>
        {% for workshop in workshop_list %}
            <tr>
                <th scope="row"><a href="{% url 'workshop:details' workshop.id %}">{{ workshop.workshop_title }}</a></th>
                <td>{{ workshop.date }}</td>
                <td><button type="button" class="btn btn-warning"><a href="{% url 'workshop:edit_workshop' workshop.id %}">Edit</a></button></td>
                <td><button type="button" class="btn btn-danger"><a href="{% url 'workshop:delete_workshop' workshop.id %}">Delete</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</html>