{% load static %}

<link href="{% static 'workshop/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'workshop/style.css' %}">

<html lang="en">
<body>
    <div class="text-center mb-4 my-4">
        <h1>Welcome to our page!</h1>
        <p>All workshops available are listed below</p>
        <p><a href="{% url 'admin:index' %}" style="text-decoration: none;">Are you an admin? Go to the admin site!</a></p>
        <p><a href="{% url 'workshop:create_workshop' %}" class="btn btn-secondary" role="button" >Create your own workshop here!</a></p> 
    </div>

    <div class="justify-content-center d-flex mb-2">
        <form action="" method="GET" class="d-flex">  
            <!-- Input field for search -->
            <input type="search" class="form-control rounded me-0" aria-label="Search" aria-describedby="search-addon" name="search" placeholder="Search" size="40">
            <!-- Search button -->
            <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Search</button>
        </form>
    </div>
    

    <div class="workshops">
        <table class="table table-borderless mx-auto my-2" style="width: 50%;">
            <thead class="mb-4">
                <th scope="col">Workshop</th>
                <th scope="col">Date</th>
                <th scope="col">Edit Workshop</th>
                <th scope="col">Delete Workshop</th>
            </thead>
            <tbody>
            {% for workshop in workshop_list %}
                <tr>
                    <th scope="row"><a href="{% url 'workshop:details' workshop.id %}">{{ workshop.workshop_title }}</a></th>
                    <td>{{ workshop.date }}</td>
                    <td><a href="{% url 'workshop:edit_workshop' workshop.id %}" class="btn btn-warning" role="button">Edit</a></td>
                    <td><a href="{% url 'workshop:delete_workshop' workshop.id %}" class="btn btn-danger" role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>