{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href="{% static 'polls/bootstrap.min.css' %}" rel="stylesheet">
<html lang="en">

<div class="text-center mb-5" style="padding-top: 50px; padding-bottom: 20px;">
    <h1>Workshop</h1>
    <p>All workshops available are listed below</p>
    <a href="{% url 'admin:index' %}" text-decoration: none;>Are you an admin? Go to the admin site!</a>
</div>

<form action="" method="GET">
    <div class="text-center mb-2">
        <input type="search" name="search" placeholder="Search" size="40">
        <button type="submit">Submit<i class="fas fa-search"></i></button>
    </div>
</form>

<div class="workshops">
    <table class="table table-bordered mx-auto" style="width: 30%;">
        <thead>
            <th scope="col">Workshop</th>
        </thead>
        <tbody>
        {% for workshop in workshop_list %}
            <tr>
                <td>
                    <ul style="text-align: center;">
                        <li>{{ workshop.workshop_title }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</html>