
ul {
    list-style-type: none;
}
table {
    text-align:center;
}

a {
    color: #093741;
    text-decoration: none;
}

h1{
    padding-top: 20px;
}
legend{
    text-align: center;
    font-size: 2 rem;
    padding-bottom: 20px;
    padding-top: 1.5%;
}
form {
    padding-inline: 2%;
    line-height: 2.5;
  }
body{
    text-align: center;
}
.form-group{
    text-align: left;
}